* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

html,
body {
    background-color: #dce9f5;
}

body::-webkit-scrollbar {
    display: none;
}

header#header {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    border-bottom: solid 2px #000;
}

header#header > h1 {
    font-weight: 900;
    line-height: 50px;
    font-size: 35px;
}

div#cms-logo-wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 80px;
    padding: 5px;
}

div#content {
    padding: 10px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: stretch;
}

div#content > div.column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

div.column > * {
    margin: 6px;
}

div.column > .text {
    border-radius: 5px;
    background-color: #0000;
    text-align: justify;
}

div.column > .header:has(h2) {
    padding: 0 4px 2px;
    border-radius: 8px;
    background-color: #ad97ff;
}

div.column > .header:has(h3) {
    padding: 0 4px 0;
}

div.column > .text > p {
    padding: 3px;
}

div.column > .text#references {
    margin-top: 0;
    border-radius: 0 0 8px 8px;
    border: solid 3px #ad97ff;
    border-width: 0 3px 3px 3px;
    background-color: #ae97ff53;
}

div.column > .header.references {
    margin-bottom: 0;
    padding: 0 4px 2px;
    border-radius: 8px 8px 0 0;
    background-color: #ad97ff;
}

#references  {
    text-align: left;
}

div.column > div.img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
